body {
    background-image: url('./img/background.jpg');
    background-size: cover;
    height: 100vh;
    font-family: Helvetica, Noto Sans, sans-serif;
}

h1 {
    margin: 4px;
}

.top-bar {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 64px);
    display: flex;
    backdrop-filter: blur(16px);
    background-color: rgba(20, 20, 20, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    z-index: 1000;
    font-family: Helvetica, Noto Sans, sand-serif;
}

.left-container {
    display: flex;
    align-items: center;
    ;
    gap: 8px;
}

.right-container {
    gap: 8px;
}

#timeElement {
    font-size: 16px;
    font-weight: 600;
}

#dateElement {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 3px;
}

.os-logo {
    width: 32px;
    height: 32px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, #7c5cff, #4da6ff);
    border-radius: 8px;
    ;
}

.os-name {
    font-size: 18px;
    font-weight: 600;
}

.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255,255,255,0.25);
    width: 400px;
    border-radius: 16px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 128px;
    height: 128px;
}